body {
    margin: 0;
    background-color: white;
    max-width: 1600px;
}

/* Grid */

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
#aside{
    background-color: #B8B6B7;
}
img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 660px;
}
h1 {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    margin: 100px;
    margin-top: 135px;
    letter-spacing: 10px;
    font-size: 140px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
aside {
    background-color: lightgrey;
    max-width: 1600px;
    grid-column: 2/10;
    grid-row: 1/4;
    font-size: 40px;
    color: #A02321;
}
h2 {
    margin: 80px;
    margin-top: 400px;
    letter-spacing: 10px;
    font-size: 70px;
}