body {
  text-align: center;
  }
  html{
    background-color: #FCA6C9;
  }
  button {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
  }
  h3 {
    margin-top: 70px;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    color: white
  }
  h4 {
    color: white;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  ol {
    text-align: left;
    margin-left: 260px;
    margin-right: 260px;
    margin-block: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
  }
  img {
    width: 190px;
  }
  main {
    text-align: center;
  }
  p {
    color: white;
    font-size: 45px;
    margin-left: 300px;
    margin-right: 300px;
  }
  h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 200px;
    margin-right: 200px;
  }